#searching {
    left: 100px;
    position: absolute;
    transition-duration: 1s;
}
#carting {
    position: absolute;
    right: 5em;
}
#heading {
    background-color: white;
    text-align: center;
    margin-top: 4%;
}
#products {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 100px;
}
@keyframes move {
    0% {right: 20px;}
    100% {right: 100px;}
}
#Input{
    border-radius: 10px;
    background-color: rgb(224, 223, 214);
}
#searchBtn{
    border-radius: 7px;
    background-color: rgb(102, 102, 102);
}